/* titlepage */
.logo {
  padding: 20px 28px;
  padding-left: 150px;
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
}

.header {
  font-family: roboto;
  padding: 10px;
  display: flex;
  align-items: right;
  justify-content: space-between;
  background-color: #1F2937;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8px;
  padding-right: 150px;
  color: #E5E7EB
}

a {
  color: #E5E7EB;
  font-size: 18px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
}

/* page1 */
.page1{
  background-color: #1F2937;
  padding-bottom: 50px;
}
.titlepage{
  display: flex;
  flex-wrap: wrap;

}

img {
  width: 200px;
  height: auto;

}

h1 {
  font-weight: bold;
  font: 55px;
  padding-top: 50px;
  color: #E5E7EB;
  padding-left: 150px;
  padding-right: 50px;
}

p {
  color: #E5E7EB;
  font-size: 18px;
  padding-left: 150px;
}

.signup {
  background-color: #3882F6;
  color: #E5E7EB;
  margin-left: 150px;
  border-radius: 20%;
  height: 30px;
  width: 100px;
}

/* page2 */

.title {
  font-size: 36px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  color: #1F2937;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.white {
  border-radius: 10%;
  border: 2px solid royalblue;
}

.info {
  max-width: 200px;
}

.text {
  padding-bottom: 70px;
  text-align: center;
  color: #1F2937;
}

/* page3 */

.page3 {
  background-color: #E5E7EB;
}

.quote {
  text-align: center;
  color: #1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
}

.author {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 100px;
  padding-left: 500px;
  padding-top: 20px;
}

/* page4 */

.page4 {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
}
.modal {
background: royalblue;
display: flex;
justify-content: center;
flex-direction: column;
display: inline-block;
border-radius: 5%;

}

.call {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.instructions {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}

.signup2 {


}
